:root {
  /*index.header.main.css */
  --header-background-color: #333;
  --header-hover-link-color: #8c7569;
  --header-burger-menu-color: #fff;
  --header-menu-item-color: #fff;
  /*index.your-business-is-our-concern.css */

  /*index.about-mdx-company.css */

  --about-title-color1: #4a4a4d;
  --primary-color: #8c7568;
  --tertiary-color: #7d7d7d;
  --background-color: #ffffff;
  --hover-background-color: #343436;

  /*index.why-choose-us.css */

  --choose-us-title-color: #4a4a4d;
  --choose-us-dot-color: #8c7568;
  --choose-us-card-background-color: #ffffff;
  --choose-us-card-description-color: #7d7d7d;

  /*index.services.css */
  --services-primary-color: #ffffff;
  --services-secondary-color: #8c7569;  
  --services-background-color: #000000; 
  --services-button-border-color: #8c7569; 
  --services-button-hover-color: #8c7569; 
  /*index.subscribe-now.css */

  --subscribe-now-form-color: #ffffff;
  --subscribe-now-title-color: #4a4a4d;
  --subscribe-now-dot-color: #8c7568;
  --subscribe-now-input-text-color: #3434361f;
  --subscribe-now-input-button-color: #4a4a4d;
  --subscribe-now-input-button-hover-color: #8c7568;

  /*index.how-we-work.main.css */

  /*index.want-to-make-a-step-forwards*/

  --footer-text-color: #969696;
  --footer-button-color: #8c7569;

  /* index.events*/

  --events-item-background: #343436;
  --events-item-date-color: white;
  --events-item-time-color: #96967d;
  --events-item-button-color: white;
  --events-item-button-border: #8c7569;
  
}
