*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    font-family: "Open sans", sans-serif;
}

html, body {
    align-items: center;
    margin: auto;
}

.container {
    max-width: 1200px;
    margin: auto;
}

img {
    display: block;
}

