.header{
    height: 160px;

    .header__image-container{
        max-width: 300px;
    }
    
    .header__nav-container{
        max-width: 300px;
    }
    
    .header__icon-container{
        max-width: 300px;
    }
}