/* Основний контейнер секції */
.about-section {
  display: flex; /* Використовуємо Flexbox */
  justify-content: space-between; /* Простір між контейнерами */
  align-items: stretch; /* Розтягуємо елементи по висоті */
  padding: 100px 0; /* Відступи зверху та знизу */
  width: auto; /* Використовуємо всю ширину секції */
  box-sizing: border-box; /* Враховуємо відступи в ширині */
  background-image: url("../img/background/about-mdx-company-backgraund.png");
}

/* Контейнер для текстового контенту */
.about-content {
  flex: 0 0 50%; /* Займає 50% ширини секції */
  padding: 0 15px; /* Відступи зліва і справа */
  box-sizing: border-box; /* Враховуємо padding в ширині */
  height: 100%; /* Займає всю висоту батьківського контейнера */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Вирівнюємо контент по вертикалі */
  background-color: #ffffff;
}

/* Контейнер для зображення */
.about-image {
  flex: 0 0 50%; /* Займає 50% ширини секції */
  padding: 0 15px; /* Відступи зліва і справа */
  box-sizing: border-box; /* Враховуємо padding в ширині */
  height: 100%; /* Займає всю висоту батьківського контейнера */
  display: flex;
  justify-content: center; /* Центруємо по горизонталі */
  align-items: center; /* Центруємо по вертикалі */
}

.about-image img {
  width: 100%;
  max-width: 300px;  /* Можна зменшити або збільшити в залежності від бажаного вигляду */
  height: auto;
  object-fit: cover; /* або 'contain' для іншого вигляду */
}

/* Стилі для заголовку */
.about__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px; /* Відступ між заголовком і текстом */
}

.about__point {
  color: #8c7568;
  font-family: Roboto;
}

.about__icon {
  margin-bottom: 20px;
  align-self: flex-start; /* Це допоможе зафіксувати іконку ліворуч */
}

/* Опис і текст */
.about-description,
.about-text {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 10px; /* Відступ між абзацами */
}

/* Соціальні іконки */
.about__socials {
  display: flex; /* Використовуємо Flexbox для вирівнювання іконок в ряд */
  gap: 5px; /* Відстань між іконками */
  justify-content: flex-start; /* Вирівнюємо іконки по лівому краю */
  margin-bottom: 20px; /* Відступ під іконками */
  width: 135px; /* Ширина контейнера */
  height: 45px; /* Висота контейнера */
}

svg.about__socials-icon {
  display: block;
  width: 30px;
  border-radius: 50%;

  .logo {
    fill: #ffffff;
  }
}

.about__socials-link {
  transition: transform 0.3s ease;
}

.about__socials-link:hover svg.about__socials-icon {
  fill: #8c7568;
}

.about__socials--colorone .about__socials-icon {
  fill: #8c7568;
}

/* Кнопки */
.about-buttons {
  display: flex; /* Використовуємо Flexbox для вирівнювання кнопок в ряд */
  gap: 20px; /* Відстань між кнопками */
  justify-content: flex-start; /* Центруємо кнопки по лівому краю */
  margin-top: 20px; /* Відступ зверху для кнопок */
  margin-bottom: 20px; /* Додаємо відступ внизу для кнопок */
}

.about__button {
  width: 125px; /* Встановлюємо ширину кнопки */
  height: 50px; /* Встановлюємо висоту кнопки */
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center; /* Вирівнюємо текст по центру */
  border-radius: 0px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Кнопка "Learn More" */
.about__button--learnmore {
  background-color: #ffffff;
  color: #8c7568;
  border: 1px solid #8c7568;
  font-size: 15px;
}

.about__button--learnmore:hover {
  background-color: #8c7568;
  color: #ffffff;
}

/* Кнопка "Contact" */
.about__button--contact {
  background-color: #8c7568;
  color: #ffffff;
  border: 1px solid #8c7568;
  font-size: 15px;
}

.about__button--contact:hover {
  background-color: #343436;
  color: #ffffff;
}
/* Адаптивність для малих екранів */
@media (max-width: 768px) {
  .about-section {
    flex-direction: column; /* Стає вертикальним на малих екранах */
    padding: 50px 20px; /* Відступи для маленьких екранів */
  }
  .about-content,
  .about-image {
    flex: 1 0 100%; /* Кожен контейнер займає 100% ширини */
    padding: 0 15px; /* Менші відступи зліва та справа */
  }

  /* Кнопки */
  .about-buttons {
    justify-content: center; /* Центруємо кнопки на малих екранах */
    margin-top: 20px; /* Відступ між кнопками */
    gap: 10px; /* Зменшуємо відстань між кнопками */
    margin-bottom: 20px; /* Додаємо відступ внизу */
  }

  /* Для кнопок змінювати розмір не треба */
  .about__button {
    width: 125px; /* Кнопки залишаються сталого розміру */
    height: 50px; /* Висота залишається сталою */
  }
}
