.about {
  display: flex;
  padding: 95px;
  background-image: url("../img/background/about-mdx-company-backgraund.png");
}

.about__project {
  flex: 1;
  min-width: 70%;
  padding-right: 20px;
}

.about__img img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.about__title {
  font-size: 36px;
  margin-bottom: 10px;
  color: #4a4a4d;
}

.about__point {
  color: #8c7568;
}

.about__subtitle {
  font-size: 18px;
  color: #4a4a4d;
  margin-bottom: 20px;
}

.about__text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #7d7d7d;
}

.about__social {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.about__button {
  padding: 10px 20px;
  font-weight: bold;
  background-color: #8c7568;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/*кнопка Learn More */
.about__button--learnmore {
  background-color: #ffffff;
  color: #8c7568;
  border: 1px solid #8c7568;
  border-radius: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.about__button--learnmore:hover {
  background-color: #8c7568;
  color: #ffffff;
}

/*кнопка Contact Us */
.about__button--contact {
  background-color: #8c7568;
  color: #ffffff;
  border: 1px solid #8c7568;
  border-radius: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.about__button--contact:hover {
  background-color: #343436;
  color: #ffffff;
}
