.subscribe {
  background-image: url(../img/background/subscribe-now-background.png);
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 630px;
  width: 100% ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.subscribe__wrapper {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.subscribe__form-left {
  padding-left: 15px;
  padding-right: 15px;

}

.subscribe__form-right {
  padding-left: 15px;
  padding-right: 15px;
}

.subscribe__form {
  background-color: var(--subscribe-now-form-color);
  width: 600px;
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: auto;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.subscribe__title {
  font-family: "Roboto", sans-serif;
  color: var(--subscribe-now-title-color);
  height: auto;
  max-width: 100%;
  font-size: 50px;
  font-weight: 900;
}

.subscribe__dot {
  font-family: "Roboto";
  font-size: 50px;
  font-weight: 900;
  border-radius: 50%;
  display: inline-block;
  color: var(--subscribe-now-dot-color);
}

.subscribe__img {
  max-width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
   margin-top: 25px;
}

.subscribe__description {
  height: 60px;
  max-width: 100%;
  font-size: 18px;
  margin-top: 45px;
}

.subscribe__form-container {
  width: 500px;
  height: 20px;
  margin-top: 12px;
}

.subscribe__input-text {
  background-color: var(--subscribe-now-input-text-color);
  display: block;
  width: 100%;
  height: 50px;
  padding-left: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 40px;
  border: none;
}

.subscribe__input-button {
  font-family: "Roboto", sans-serif;
  color: var(--subscribe-now-form-color);
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 25px;
  border: none;
  background-color: var(--subscribe-now-input-button-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe__input-button:hover {
  background-color: var(--subscribe-now-input-button-hover-color);
}

@media (max-width: 767px) {
  .subscribe__wrapper {
    grid-template-columns: 1% 98% 1%;
  }
}