.how-we-work {
  background-image: url(../img/background/how-we-work-background.png);
  background-size: cover;
  background-position: center;
  min-height: 80vh;
}


.how-we-work__wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 100px;
  margin-right: 100px;
  padding: 80px 15px 80px 15px;
}

@media (max-width: 992px) {
  .how-we-work__wrapper {
    grid-template-columns: 70% 30%;
  }
}


@media (max-width: 767px) {
  .how-we-work__wrapper {
    grid-template-columns: 90% 10%;
  }
}


.how-we-work__left {
  flex: 1;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.how-we-work__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.how-we-work__header {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.how-we-work__dot {
  font-family: "Roboto";
  font-size: 50px;
  border-radius: 50%;
  display: inline-block;
  color: var(--how-we-work-dot-color);
}


.how-we-work__step {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}


.how-we-work__step-title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}


.how-we-work__step-description {
  color: var(--how-we-work-descroption-font-color);
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.8;
  line-break: anywhere;
}


.how-we-work__icon {
  display: block;
  width: 65px;
  height: 30px;
}


.how-we-work__title {
  font-size: 50px;
  margin-bottom: 30px;
}


.how-we-work__image {
  margin-right: 30px;

}


.how-we-work__image-icon {
  background-color: var(--how-we-work-icon-backgroung);
  border-radius: 16px;
  width: 50px;
  height: 50px;
  margin-bottom: 40px;
}


.how-we-work__description {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  margin-top: 20px;
  font-size: 18px;
}