.why-choose-us {
  background-image: url(../img/background/why-choose-us-background.png);
  padding: 90px 0px 100px;
}

.why-choose-us__inner {
  padding: 40px 40px;
}

.why-choose-us__header {
  text-align: center;
  margin: 50px 0px 0px;
  padding: 0px 15px;
  font-size: inherit;
}

img {
  display: inline-block;
}

.why-choose-us__title {
  font-size: 3.12rem;
}

.why-choose-us__dot {
  color: #8c7568;
}

.why-choose-us__description {
  margin-top: 15px;
}

.why-choose-us__description span {
  display: block;
  margin-top: 5px;
  font-size: 1.25rem;
}

.why-choose-us__icon {
  margin-top: 15px;
  width: 598;
  height: 32;
}

.why-choose-us__service {
  text-align: center;
}