.choose-us {
  text-align: center;
  padding: 40px 20px;
}

.choose-us__block {
  padding: 90px 0px 100px;
}

.choose-us__header {
  margin-bottom: 40px;
}

.choose-us__title {
  font-size: 2rem;
  margin: 0;
}

.choose-us__icon {
  text-align: center;
}

img {
  display: inline-block;
}

.choose-us__description {
  font-size: 1rem;
  color: #666;
  margin: 10px 0;
}

.choose-us__cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.choose-us__card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: left;
}

.choose-us__icon {
  margin: 0 auto 20px;
  width: 100px;
  height: 100px;
  text-align: left;
}

img {
  display: inline-block;
}

.choose-us__card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.choose-us__card-description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
}

.choose-us__list {
  list-style-type: disc;
  padding-left: 20px;
}

.choose-us__list li {
  font-size: 0.9rem;
  color: #666;
}