.index-careers {
    background-image: url("../img/careers/careers.bg.png");
    padding-top: 70px;
    padding-bottom: 100px;
}

.index-careers__card {
    background-color: #f7f5f5;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px; 
    width: 60%;
    max-width: 1000px;
    margin: 0 auto; 
    margin-bottom: 20px; 
}
  
.index-careers__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #4a4a4d;
}

.careers-zigzag {
    display: block;
    margin: 20px auto;
    max-width: 100%; 
    height: auto; 
}

.index-careers__description {
    text-align: center;
    font-size: 14.5px; 
    line-height: 1.6;  
    max-width: 800px; 
    margin: 20px auto;   
    margin-bottom: 40px;
    color: #4a4a4d;
    font-family: "Open Sans";
    font-weight: 500; /* Текст стане трохи жирним */
}
  
.index-careers__title-dot {
    font-size: 2.5rem;
    font-family: Roboto;
    color: #8c7568;
}

/* Для зображення */
.index-careers__card img {
    width: 60px; /* Ширина зображення для десктопної версії */
    height: auto; /* Автоматична висота для збереження пропорцій */
}

/* Текстові елементи */
.index-careers__card span {
    display: block; /* Кожен span буде на новому рядку */
    padding: 0 10px; /* Відступи по боках для кожного елемента */
    color: #7d7d7d;
    font-size: 14px;
}

/* Стилі для посилання */
.index-careers__card a {
    text-decoration: none; /* Без підкреслення для посилання */
    color: #7d7d7d;
    font-size: 14px;
}

/* Мобільна версія */
@media (max-width: 768px) {
    .index-careers__card {
        flex-direction: column; /* На мобільних пристроях елементи йдуть вертикально */
        align-items: flex-start; /* Вирівнюємо елементи по лівому краю */
        padding: 40px; /* Збільшити відступи всередині картки */
        margin-left: 20px; /* Вирівнюємо картку по лівому краю */
        margin-right: 20px; /* Додаємо відступ з правого боку */
        margin-bottom: 40px; /* Збільшити відступ між картками */
        width: auto; /* Дозволяємо картці адаптувати свою ширину */
    }

    .index-careers__card img {
        width: 40px; /* Зменшуємо розмір зображення до 40px на мобільних пристроях */
        margin-right: 0; /* Відміняємо відступ справа */
        margin-bottom: 30px; /* Збільшуємо відступ між зображенням і текстом */
    }

    .index-careers__card span {
        padding: 15px 0; /* Збільшити відступи для кожного текстового елемента */
    }

    .index-careers__description {
        margin: 40px auto; /* Збільшити відступи для опису */
        font-size: 16px; /* Трохи збільшуємо розмір шрифта для зручності на маленьких екранах */
        text-align: center; /* Повертаємо вирівнювання по центру */
    }

    .index-careers__title {
        font-size: 45px; /* Зменшуємо розмір заголовка для мобільних */
        margin-bottom: 30px; /* Збільшити відступи між заголовком і контентом */
        text-align: center; /* Повертаємо вирівнювання по центру */
    }

    /* Збільшення відступів для посилань */
    .index-careers__card a {
        padding: 15px 0; /* Додати відступи зверху та знизу для посилань */
        text-align: left; /* Вирівнювання посилань по лівому краю */
    }
}
