.about-section {
  background-image: url("../img/background/about-mdx-company-backgraund.png"),
    linear-gradient(#f9f9f9, #ffffff);
  background-size: cover;
  background-position: center;
  padding: 100px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}

/* Стилі для планшетів та менших екранів */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  /*  .about-content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
*/
  .about-section {
    padding: 0;
  }
  .about-content,
  .about-image {
    max-width: 90%;
    text-align: center;
  }

  .about-image img {
    width: 100%; /* Зображення займає всю ширину контейнера */
    height: auto;
  }
}
/*
@media (max-width: 480px) {
  .about-container {
    padding: 20px;
    gap: 20px;
  }

  .about-content h2 {
    font-size: 2rem;
  }

  .about-description {
    font-size: 18px; 
  }
}*/

.about-content {
  max-width: 100%;
  padding: 30px 30px;
  text-align: left; /* Вирівнюємо текст по лівому краю */
}

.about-content h2 {
  font-size: 3.125rem;
  color: var(--title-color1);
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  height: auto;
  width: auto;
}
.about__icon {
  margin-bottom: 20px;
}

.about__point {
  color: #8c7568;
  font-family: Roboto;
}

.about-description {
  font-weight: bold;
  font-size: 20px;
  color: var(--title-color1);
  text-align: left;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
}

.about-text {
  font-size: 16px;
  color: #7d7d8e;
  line-height: 1.6;
  margin: 0; /* Відсутність зовнішніх відступів */
  padding: 0; /* Відсутність внутрішніх відступів */
  font-family: "Open Sans", sans-serif;
  width: 100%; /* Займає всю ширину контейнера */
  text-align: left; /* Текст вирівняний по лівому краю */
}

.about-buttons {
  display: flex;
  gap: 10px;
}

.about__button {
  padding: 15px 25px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.about__button--learnmore {
  background-color: #ffffff;
  color: #8c7568;
  border: 1px solid #8c7568;
  border-radius: 0;
  font-size: 15px;
}

.about__button--learnmore:hover {
  background-color: #8c7568;
  color: #ffffff;
}

.about__button--contact {
  background-color: #8c7568;
  color: #ffffff;
  border: 1px solid #8c7568;
  border-radius: 0;
  font-size: 15px;
}

.about__button--contact:hover {
  background-color: #343436;
  color: #ffffff;
}

.about-image {
  max-width: 500px;
  height: auto;
}

.about-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.about__socials {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.about__socials-link {
  transition: fill 1.1s ease; /* Плавний перехід кольору */
}

.about__socials-link:hover svg.about__socials-icon {
  fill: #8c7568; /* Змінюється колір при наведенні */
}

.about__socials-icon {
  display: block;
  width: 25px; /* Розмір іконки */
  border-radius: 50%; /* Круглі іконки */
  fill: #685347; /* Загальний колір для соціальних іконок цього типу */
}

.about__socials-icon .logo {
  fill: #ffffff; /* Колір іконки по замовчуванню */
}

/* Для кожного кольору окремо */
.about__socials--colorone .about__socials-icon {
  fill: #685347; /* Загальний колір для соціальних іконок цього типу */
}

@media (max-width: 768px) {
  .about__socials {
    gap: 10px; /* Зменшуємо відстань між іконками на малих екранах */
  }

  .about__socials-icon {
    width: 30px; /* Збільшуємо розмір іконок на малих екранах */
  }
}
.about__socials-link--facebook .about__socials-icon {
  fill: #8c7568; /* Колір Facebook */
}

.about__socials-link--insta .about__socials-icon {
  fill: #8c7568; /* Колір Instagram */
}

.about__socials-link--youtube .about__socials-icon {
  fill: #8c7568; /* Колір YouTube */
}
