.index__yourbusiness-container {
    background-color: #38383a;
}

.index__yourbusiness-container-left {
    background-color: #38383a;
}

.index__yourbusiness-title {
    color: white;
}

.index__yourbusiness-description {
    color: white;
}