/* Загальний стиль для секції "Services" */
.index-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  background-image: url("../img/background/services-bg.png");
  background-size: cover;
  background-position: center;
  color: var(--services-primary-color);
  text-align: center;
  min-height: 100%;
}

/* Заголовок секції */
.index-services__title {
  font-size: 40px;
  font-weight: bold;
  color: var(--services-primary-color);
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.index-services__point {
  color: var(--services-secondary-color);
  font-family: Roboto;
}

/* Зображення елемента (zigzag) */
.zigzag-element {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

/* Підзаголовок секції */
.index-services__subtitle {
  font-size: 15px;
  margin-bottom: 40px;
  max-width: 800px;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: bold;
  color: var(--services-primary-color);
}

/* Загальний стиль для рядів */
.index-services__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

/* Стиль для рядів із сервісами */
.index-services__service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: background-color 0.3s ease;
  max-width: 1000px;
}

/* Фонові зображення для рядів */
.index-services__service:nth-child(odd) {
  background-image: url("../img/index.services.partial/service-1.webp");
}

.index-services__service:nth-child(even) {
  background-image: url("../img/index.services.partial/service-2.webp");
}

/* Стиль для зображень */
.index-services__image,
.index-services__content {
  width: 50%;
}

.index-services__image {
  height: 100%;
  object-fit: cover;
}

/* Текстовий контент */
.index-services__content {
  color: var(--services-primary-color);
  text-align: left;
  padding: 0 25px;
}

/* Заголовок сервісу */
.index-services__heading {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 25px;
  font-family: "Roboto", sans-serif;
  color: var(--services-primary-color);
}

/* Опис сервісу */
.index-services__description {
  font-size: 15px;
  line-height: 1.6;
  padding: 0 25px;
  font-family: "Open Sans", sans-serif;
  color: var(--services-primary-color);
}

/* Кнопка */
.index-services__row--button {
  text-align: center;
  margin-top: 20px;
}

.index-services__button {
  background-color: transparent;
  color: var(--services-primary-color);
  border: 1px solid var(--services-button-border-color);
  padding: 8px 16px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.index-services__button:hover {
  background-color: var(--services-button-hover-color);
  color: var(--services-primary-color);
}

/* Адаптивний дизайн */
@media screen and (max-width: 768px) {
  .index-services__row {
    gap: 40px;
  }

  .index-services__service {
    flex-direction: column;
    text-align: center;
  }

  .index-services__image {
    width: 100%;
    height: auto;
  }

  .index-services__content {
    width: 100%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .index-services__title {
    font-size: 1.8rem;
  }

  .index-services__subtitle {
    font-size: 1rem;
  }

  .index-services__heading {
    font-size: 1.2rem;
  }

  .index-services__description {
    font-size: 0.9rem;
  }

  .index-services__button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }

  .index-services__content {
    padding: 0 15px;
  }
}
