/* Основний контейнер */
.index-careers {
  background-image: url("../img/careers/careers.bg.png");
  padding-top: 70px;
  padding-bottom: 100px;
}

/* Картка */
.index-careers__card {
  background-color: var(--careers-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Заголовок */
.index-careers__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: var(--careers-text-color);
}

/* Зигзаг */
.careers-zigzag {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

/* Опис */
.index-careers__description {
  text-align: center;
  font-size: 14.5px;
  line-height: 1.6;
  max-width: 600px;
  margin: 20px auto;
  margin-bottom: 40px;
  color: var(--careers-text-color);
  font-family: "Open Sans";
  font-weight: 500;
}

/* Точка в заголовку */
.index-careers__title-dot {
  font-size: 2.5rem;
  font-family: Roboto;
  color: var(--careers-primary-color);
}

/* Для зображення */
.index-careers__card img {
  width: 60px;
  height: auto;
}

/* Текстові елементи */
.container-span {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.container-span span {
  text-align: left;
  color: var(--careers-link-color);
  font-size: 14px;
  margin-left: 10px;
}

/* Стилі для посилання */
.index-careers__card a {
  text-decoration: none;
  color: var(--careers-link-color);
  font-size: 14px;
  margin-left: 10px;
}

/* Мобільна версія */
@media (max-width: 768px) {
  .index-careers__card {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    width: auto;
  }

  .index-careers__card img {
    width: 40px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .index-careers__card span {
    padding: 15px 0;
  }

  .index-careers__description {
    font-size: 16px;
    margin: 20px 15px;
    padding: 0 15px;
    text-align: center;
  }

  .index-careers__title {
    font-size: 45px;
    margin-bottom: 30px;
    text-align: center;
  }

  .index-careers__card a {
    padding: 15px 0;
    text-align: left;
  }
}
