.footer {
  background-color: var(--header-background-color);
  min-height: 420px;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 100px;
  padding-bottom: 30px;
  margin: 0 5%;
  gap: 10px;
}

.footer__info-container {
  
  .footer__info-logo {
    display: block;
    max-width: 200px;
  }

  .footer__info-text {
    padding: 30px 0 0 0;
    vertical-align: baseline;
    text-align: left;
    line-height: 1.8;
    font-family: "Open Sans";
    font-size: 14px;
    color: var(--footer-text-color);
    font-weight: bold;
  }
}

.footer__nav-left-container {
  .footer__nav-left {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-direction: column;
    .footer__nav-left--item {
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: bold;
      color: white;
    }
  }
}

.footer__nav-center-container {
  .footer__nav-center {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-direction: column;
    .footer__nav-center--item {
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: bold;
      color: white;
    }
  }
}

.footer__nav-right-container {
  .footer__nav-right {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-direction: column;
    .footer__nav-right--item {
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: bold;
      color: white;
    }
  }
}

.footer__form-container {
  .footer__form-text {
    font-family: "Open Sans";
    font-size: 16px;
    color: white;
  }
  .footer__form-form {
    padding: 20px 0 0 0;
    text-align: left;
    .footer__form-edit {
      width: 80%;
      height: 50px;
      margin-bottom: 20px;
      background-color: var(--footer-button-color);
    }
    input::placeholder {
        color: white;
        opacity: 1;
        text-align: center;
    }
    .footer__form-button {
      width: 80%;
      height: 50px;
      background-color: var(--footer-button-color);
      font-family: "Roboto";
      font-size: 15px;
      font-weight: bold;
      color: white;
    }
  }
}

.footer__bottom-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top-style: solid;
  border-top-width: 1px;
  border-color: var(--footer-button-color);
  text-align: center;
  .footer__bottom-text1,
  .footer__bottom-text2 {
    font-family: "Open Sans";
    font-size: 14px;
    color: var(--footer-button-color);
    padding: 10px;
  }
  .footer__bottom-text1 {
    text-align: left;
  }
  .footer__bottom-text2 {
    text-align: right;
  }
}

@media (max-width: 768px) {
  .footer__container {
    margin: 0;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 1fr);
  }

  .footer__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer__info-logo {
    display: block;
    width: calc(max-width * 0.8)px;
  }

  .footer__info-text {
    text-align: center;
  }

  .footer__nav-item {
    text-align: center;
    padding-top: 20px;
  }
  .footer__bottom-container {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    .footer__bottom-text1,
    .footer__bottom-text2 {
      text-align: center;
    }
  }
}
